<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{commons/layout}">
<head th:replace="commons/layout :: meta_header('top',~{::link},~{::script})"></head>
<body>
  <div th:replace="commons/layout :: header"></div>

  <div th:replace="commons/layout :: contents(~{::div.content}, '給与月一覧')">
    <div class="content">

      <form>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th style="width: 70px;"></th>
              <th>給与月</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><input type="radio" value="A" id="radio1" name="radio" checked="checked"></td>
              <td><a th:href="@{/emplist(date=${202001})}">202001</a></td>
            </tr>
            <tr>
              <td class="text-center"><input type="radio" value="B" id="radio2" name="radio"></td>
              <td><a th:href="@{'/'}">202002</a></td>
            </tr>
            <tr>
              <td class="text-center"><input type="radio" value="C" id="radio3" name="radio"></td>
              <td><a th:href="@{'/'}">202003</a></td>
            </tr>
          </tbody>
        </table>

        <input type="submit" name="datecopy" class="btn btn-success" value="新規作成">
        <input type="submit" name="datecopy" class="btn btn-success" value="選択した年月から複製">
      </form>
    </div>
  </div>

  <div th:replace="commons/layout :: footer"></div>
</body>
</html>